.cover__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 560px;
  z-index: 2;
}

@media screen and (max-width:700px) {
  .cover__wrapper {
    max-width: 288px;
  }
}