.footer__copyright-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.5s;
}

.footer__copyright-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700) {
  .footer__copyright-link {
    line-height: 14px;
  }
}